
.navbarPerso{
    background-color: #333 !important;
    width: 250px;
    height: 100vh;
}
.container{
    margin-top: 5%;
}
.formTypeTask{
    background-color: #dcdcdc !important;
    padding: 20px;
    border-top: 10px solid #333;
    border-radius: 10px;
}

tr {
    padding: 0 !important;
    text-align:center;
}
thead, tr{
    padding: 20px !important;
}


.one{
    margin:0 !important;
    background-color: #0ECBEC !important;
    color: #333 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100% !important;
    border-top-left-radius: 50px; 
    border-bottom-left-radius: 50px; 
    height: 38px !important;
}
.two{
    margin:0 !important;
    background-color: #F2AD0E !important;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100% !important;
    border-top-left-radius: 50px; 
    border-bottom-left-radius: 50px; 
    height: 38px !important;
}
.twos{
    margin:0 !important;
    background-color: #A30000 !important;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100% !important;
    border-top-left-radius: 50px; 
    border-bottom-left-radius: 50px; 
    height: 38px !important;
}
.twoss{
    margin:0 !important;
    background-color: #471FFB !important;
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100% !important;
    border-top-left-radius: 50px; 
    border-bottom-left-radius: 50px; 
    height: 38px !important;
}

.twosss{
    margin:0 !important;
    background-color: #D0E518 !important;
    color: #333 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100% !important;
    border-top-left-radius: 50px; 
    border-bottom-left-radius: 50px; 
    height: 38px !important;
}
.twoT{
    margin:0 !important;
    background-color: #30BD2B !important;
    color: #333 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100% !important;
    border-top-left-radius: 50px; 
    border-bottom-left-radius: 50px;
    height: 38px !important;
}
.table td{
     padding: 0 !important; 
     vertical-align: none !important; 
}

thead th{
    padding: 10px !important;
}
.btnPerso{
    width: 100%;
    border-radius: 0 !important;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
  }

.encours{
    background-color: #0ECBEC !important;
    color: #333 !important;
}
.enattente{
    background-color: #471FFB !important;
    color: #fff !important;
}
.doublon{
    background-color: #D0E518 !important;
    color: #333 !important;
}
.terminer{
    background-color: #30BD2B !important;
    color: #333 !important;
}
.refuser{
    background-color: #A30000 !important;
    color: #fff !important;
}
.paginat{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    margin-left: 20%;
    margin-top: 5%;
    max-width:1000px;

}

